img{
    height: 55px;
    width: 55px;
}

.white-background{
    background-color: white;
    display: flex;
    height: 60px;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

h3{
    font-weight: lighter;
    
    
}